[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ttkbootstrap = "*"
matplotlib = "*"
scipy = "*"

[dev-packages]
"ops.cyclotron.analysis" = {editable = true, git = "https://github.com/lbnl-88ops/cyclotron.analysis.git"}

[requires]
python_version = "3.13"
